@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
    -webkit-transform: translateX(-500%);
    transform: translateX(-500%);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
    -webkit-transform: translateX(-500%);
    transform: translateX(-500%);
  }
}

input[name="logo-button"] {
  position: absolute;
  visibility: hidden;
}

input[name="radio"] {
  position: absolute;
  visibility: hidden;
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Tajawal", sans-serif;
}

header {
  line-height: inherit;
}

.header {
  border-top: 3px solid #F7A316;
  border-bottom: 2px solid #F7A316;
}

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10px 0;
  width: 70%;
  margin: auto;
}

.university-name-discription {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  justify-items: right;
  font-size: 12px;
  text-align: right;
  margin-right: 2%;
  width: 300px;
}

.university-name {
  font-size: 12px;
  font-weight: 500 !important;
}

.language-logo a {
  color: #0189D1;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.university-discription {
  font-size: 11px;
  font-weight: 400 !important;
}

.university-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.university-logo img {
  height: 40px;
}

nav {
  background-color: #F2F2F2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links {
  font-weight: 400;
  font-size: 1.4rem;
  cursor: pointer;
  width: 70%;
  margin: auto;
}

.nav-links img {
  height: 55px;
}

.nav-links ul {
  height: 60px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F2F2F2;
  margin: 0%;
  padding: 0%;
}

.nav-links ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links ul li a {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #575757;
  text-decoration: none;
  font-family: "Tajawal", sans-serif;
}

.nav-links ul li a:hover:not(.active) {
  color: #F7A316;
}

.nav-links ul li a:active {
  background-color: #E9E9E9;
  color: #0189D1;
  color: white;
}

.slider-show {
  background-color: black;
  width: 100%;
  height: 680px;
  overflow: hidden;
}

.slider-navagation {
  position: relative;
  display: inline-block;
  bottom: 50px;
  left: 90%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bar {
  background-color: rgba(250, 248, 248, 0.774);
  opacity: 0.5;
  width: 100px;
  height: 10px;
  /* border: 1px solid #fff;
    */
  margin: 6px;
  cursor: pointer;
}

.bar:hover {
  background-color: #F7A316;
}

input[name="radio"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide {
  width: 20%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  position: relative;
}

.slide img {
  width: 100%;
  opacity: 0.6;
}

#radio1:checked ~ .s1 {
  margin-left: 0%;
}

#radio2:checked ~ .s1 {
  margin-left: -20%;
}

#radio3:checked ~ .s1 {
  margin-left: -40%;
}

.text-inside-slider {
  font-size: 60px;
  font-weight: 500;
  color: white;
  position: absolute;
  bottom: 370px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.button-inside-slider {
  font-weight: 500;
  position: absolute;
  bottom: 300px;
  left: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F7A316;
  border: 1px solid white;
  border-radius: 0.5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 5px 5px;
}

.button-inside-slider a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  overflow: hidden;
  padding-top: 3%;
  padding-bottom: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-inside-slider ahover {
  color: #F7A316;
}

.title-welcome {
  color: #0189D1;
  font-size: 35px;
  font-weight: 500;
  width: 70%;
  margin: auto;
  padding-top: 2%;
  text-align: center;
}

.page-discription-text {
  font-size: 25px;
  line-height: inherit;
  color: #575757;
  font-weight: 400;
  width: 70%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1rem;
  text-align: center;
}

.sidebars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  margin: auto;
  height: 700px;
  margin-top: 3%;
}

.sidebars li {
  height: 150px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #0189D1;
}

.sidebar-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  background-color: #F2F2F2;
}

.sidebar1 {
  background-color: rgba(250, 248, 248, 0.774);
  width: 640px;
  margin-right: 2%;
}

.sidebar {
  width: 650px;
  background-color: rgba(250, 248, 248, 0.774);
}

.sidebar-title-icon {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0189D1;
  height: 60px;
  width: 60px;
}

.sidebar-back-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: 20px;
}

.images-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.images-news img {
  border-radius: 5px;
  width: 150px;
  height: 100px;
}

.text-news {
  font-size: 17px;
  font-weight: 400;
  color: #575757;
  margin-right: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.text-news .head-news {
  margin-top: 10px;
  font-size: 20px;
}

.small-button-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 1%;
  margin-left: 1%;
}

.small-button-news a {
  font-weight: 500;
  text-decoration: none;
  background-color: #F7A316;
  border-radius: 10px;
  color: white;
  font-size: 10px;
  bottom: 5px;
  right: 5px;
  padding: 3px 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  outline: none;
}

.partners-logo-slider {
  width: 70%;
  margin: auto;
  height: 400px;
}

.partners-logo-slider li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-slider {
  background-color: rgba(250, 248, 248, 0.774);
}

.fas {
  font-weight: bold;
  color: #575757;
  font-weight: 900;
  font-size: 35px;
}

.righ-arrow {
  padding-top: 10%;
}

.left-arrow {
  padding-top: 10%;
}

.slider-content-and-arrows {
  margin-left: 15%;
  padding-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300%;
}

.partners-logo-slider-header {
  background-color: rgba(250, 248, 248, 0.774);
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 650px;
  margin-bottom: 50px;
}

.partnerslogo-title-icon {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0189D1;
  height: 60px;
  width: 60px;
}

.partners-header-back-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: 20px;
}

.partners-logo-slider-inside {
  overflow: hidden;
  margin-top: 40px;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%);
  }
}

.logos {
  -webkit-animation: scroll 10s linear infinite;
          animation: scroll 10s linear infinite;
  width: calc(250px *14);
  width: 20%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  margin-right: 50%;
}

.logo img {
  width: 180px;
  height: 180px;
}

.logo-slider-navagation {
  position: relative;
  display: inline-block;
  bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-button {
  cursor: pointer;
}

input[name="logo-button"] {
  position: absolute;
  visibility: hidden;
}

#logo-button1:checked ~ .logo1 {
  margin-left: 0%;
}

#logo-button2:checked ~ .logo1 {
  margin-left: -200%;
}

footer {
  display: block;
  background-color: #0189D1;
  margin-top: 2%;
  height: 500px;
}

.footer-column {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.footer-column ul {
  text-decoration: none;
  list-style: none;
  text-align: right;
}

.footer-column a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.footer-column li a:hover:not(.active) {
  color: #F7A316;
}

.row {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.linefooter {
  border-bottom: white;
  width: 70%;
  height: 10px;
}

.images-footer {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  border-top: 1px solid rgba(250, 248, 248, 0.774);
  border-bottom: 1px solid rgba(250, 248, 248, 0.774);
  margin-bottom: 1.5%;
}

.images-footer a {
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1%;
}

.footer-end {
  font-weight: 500;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
}

.logos-footer-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logos-footer-end a {
  padding: 2%;
  margin-left: 5%;
  background-color: white;
  border: 1px solid white;
  border-radius: 0.5rem;
}

.ppu {
  width: 60px;
  height: 60px;
}

.reach {
  width: 60px;
  height: 60px;
}

.euro {
  height: 60px;
}

.project-reference {
  width: 70%;
  margin: auto;
  font-weight: 500;
  font-size: 12px;
  color: rgba(250, 248, 248, 0.774);
  margin-top: -5%;
}

.text-footer-end {
  width: 57%;
  text-align: right;
}

.project-reference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.fab {
  font-family: "Font Awesome 5 Brands";
  color: white;
  font-weight: 400;
  font-size: 47px;
}

.fab:hover:not(.active) {
  color: #F7A316;
}
/*# sourceMappingURL=style-arabic.css.map */